{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
        <title>Wikimedia - Pages Created and Edited Tool</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "css/styles.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "css/demo.css" %}>
        <script type="text/javascript" src={% static "js/main.js" %}></script>
</head>

<body>

        <div class="container">
                <div class="row">
                        <div class="col-md-6 image-container">
                                <img src={% static "img/user-graph-tool.png" %} class="image" align="left">
                        </div>
                        <div class="col-md-6">
	                        <div class="row search-box-container main-heading">
	                        	<h2>Whose graphs would you like to see?</h2>
	                            <div id="wrap">
	                                    <form id="username_form" autocomplete="on" method="post">
	                                            {% csrf_token %}
	                                            <input id="username" {% if userData.username %} value="{{ userData.username }}" {% endif %} name="username" type="text" placeholder="Enter username..">
	                                            <input id="search_submit" value="Rechercher" type="submit">
	                                    </form>
	                            </div>
	                        </div>
                        </div>
                </div>

                <div class="row">
                        <div class="slide-container" id="message">
                        </div>
                </div>
                
                <div class="row graphs">
                    <div id="articles-edited"></div>
                	<div id="articles-created"></div>
                </div>
        </div>
</body>

</html>